*.sw[a-p]
*.o
*~
*.chr
/obj/nes/*.s
/zip.in
/*.nes.deb
/*.dbg
/map.txt
/map128.txt
/nsfmap.txt
__pycache__/
*.pyc
/thwaite.nes
/thwaite128.nes
/zip.in
/thwaite-*.zip

# this is NES homebrew, not DSiWare
*.DS_Store


