*.sw[a-p]
*.o
*~
*.chr
/obj/nes/*.s
/obj/compressed_data
/obj/uncompressed_data
/zip.in
/*.nes.deb
/*.dbg
/*.cdl
/*.ram.nl
/map.txt
/map128.txt
/nsfmap.txt
__pycache__/
*.pyc
/thwaite.nes
/thwaite128.nes
/zip.in
/thwaite-*.zip
/tools/dte
/tools/dte.exe

# this is NES homebrew, not DSiWare
*.DS_Store


